.section.sessions,
.taxonomy.tags {
  ul.talks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    li.talk {
      margin-bottom: 1rem;
      margin-right: 1rem;
      flex: 1 0 320px;
    }

    a {
      border: thin solid var(--darken-1);
      box-shadow: var(--space-1) var(--space-1) var(--space-2) var(--darken-2);
      transition: box-shadow var(--animation);
      border-radius: var(--space-2);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-decoration: none;
      height: 100%;

      &:hover,
      &:focus {
        box-shadow: var(--space-2) var(--space-2) var(--space-2) var(--darken-3);
      }

      .header {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        color: inherit;

        .info,
        h2 {
          padding: var(--space-4);
        }

        .info {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: baseline;

          .tags {
            padding: var(--space-2);
            margin-bottom: var(--space-2);
          }
        }
      }

      .speakers {
        border-radius: var(--space-2);
        background: var(--base);
        padding-left: 0;
        color: var(--base-text);
      }

      .speaker + .speaker {
        border-top: thin solid var(--darken-1);
      }
    }
  }
}
