.section.sessions,
.taxonomy.tags {
  ul.talks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    li.talk {
      margin: 1rem;
      flex: 1 0 400px;
    }

    a {
      border: thin solid var(--darken-1);
      box-shadow: var(--space-1) var(--space-1) var(--space-2) var(--darken-2);
      transition: box-shadow var(--animation);
      border-radius: var(--space-2);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-decoration: none;
      height: 100%;

      &:hover,
      &:focus {
        box-shadow: var(--space-2) var(--space-2) var(--space-2) var(--darken-3);
      }

      .header {
        display: flex;
        justify-content: space-between;
        align-items: start;
        color: inherit;

        .info,
        h2 {
          padding: var(--space-4);
        }

        .info {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .tags {
            margin-right: 5px;
            padding: 5px;
          }
        }
      }

      .speakers {
        border-radius: var(--space-2);
        background: var(--base);
        padding-left: 0;
        color: var(--base-text);
      }

      .speaker + .speaker {
        border-top: thin solid var(--darken-1);
      }
    }
  }
}

@supports (grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))) {
  .section.sessions,
  .taxonomy.tags {
    ul.talks {
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
  }
}
